.pricing-container{

    background-color: hsl(240, 78%, 98%);
    min-height: 100vh;
}
.heading{
    text-align: center;
}
.plans{
    display: flex;
    justify-content: center;
}
.plan-time{
    margin-right: 8px;
}
.plan-details{
    padding: 34px;
    background-color: #ffffff;
    width: 360px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;
    border-radius: 4%;
}
.plan-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.line{
    color: hsl(240, 78%, 98%);
    width: 100%;
}
.button{
    height: 48px;
    width: 90%;
    border: 0px;
    background-image: linear-gradient(hsl(236, 72%, 79%) , hsl(237, 63%, 64%));
    border-radius: 8px;
}

.head{
    font-size: 20px
}

.price{
    margin: 0%;
    font-size: 60px;
}


